body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.my-office {
	display: flex;
	justify-content: center;
}
.my-office-wrapper {
	width: 60%;
	margin-top: 20px;
}
.registration-blank {
	background-color: white;
	padding: 50px 0;
	margin: 30px 0;
	display: flex;
	justify-content: center;
}
.form-registration {

}
.form-registration input {
	width: 100%;
}
.form-registration h2 {
	text-align: center;
}
.input-email, .input-password {
	background-color: #f9f8f8;
	border: 1px solid #e1e2e3;
	height: 40px;
	color: #141414;
	margin-bottom: 30px;
	padding: 6px 12px 6px 40px;
}

.btn-log, .btn-reg {
	position: relative;
	color: white;
	cursor: pointer;
	background: -webkit-linear-gradient(left, #ff4148, #ff793a);
	background: -o-linear-gradient(left, #ff4148, #ff793a);
	background: linear-gradient(to right, #ff4148, #ff793a);
	width: 100%;
	height: 40px;
	text-align: center;
	padding: 6px 0;
	margin-bottom: 10px;
	border: none;
	transition: .5s;
	overflow: hidden;
}
.btn-reg {
	background: #1896e6;
}
.btn-reg::before, .btn-log::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background :black;
	top: -100%;
	left: 0;
	opacity: 1;
	transition-delay: .2s;
	transition: .3s;
	z-index: -1;
}
.btn-reg:hover, .btn-log:hover {
	color: #fff;
	 z-index: 2;
  }
.btn-reg:hover::before, .btn-log:hover::before {
	top: 0;
  }
.btn-log:hover {
	/* background: black; */
}
/* .btn-reg:hover {
	background: black;
} */
.hr-form {
	border: 0;
	border-top: 1px solid #e1e2e3;
	height: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}
.form-envelope {
	position: absolute;
	bottom: 40%;
	left: 15px;
	transform: translateY(-50%);
}
.form-envelope i {
	color: #ff793a;
	font-size: 20px;
}






@media (max-width: 768px) {
	.my-office {
		padding: 70px 10%;
	}
	.form-registration {
		width: 100%;
	}
	.registration-blank {
		padding: 30px 10px;
	}
	.footer {
		font-size: 12px;
	}
	nav.menu-line {
		display: none;
	}
	.header__list {
		width: 100%;
		left: 0;
	}
	.footer div i {
		display: none;
	}
	.footer div div {
		padding: 0;
	}
}

@media (max-width: 500px) {

	.my-office {
		padding: 50px 10%;
	}
	.registration-blank {
		padding: 30px 10px;
	}
	.form-registration {
		width: 100%;
	}

}

